<html>
<head>
    <!-- <title>FoodSource</title> -->
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"type="text/javascript" charset="utf-8"></script>

<style>
</style>

</head>

<body>

<h1>FoodSource</h1>
<a href="/order"> Order </a>
<br>

<div id="mapContainer" style="width: 800px; height: 600px" ></div>


<script>

var platform = new H.service.Platform({
    'apikey': '2p6mv-fIC0HKioTYd4Fb0NotXpGuOiwu1NtawHZNxno'
});

// array of coordinates to mark on our map.
// whenever a new user requests food, we add their coordinates to this array
// to display on the map.
var coordinates = [];
coordinates.push([37.314170, -121.773780]);

// center of the map. these are the coordinates for Evergreen, San Jose.
const latitude = 37.314170;
const longitude = -121.773780;

var maptypes = platform.createDefaultLayers();

var map = new H.Map(
    document.getElementById('mapContainer'),
    maptypes.vector.normal.map,
    {
        zoom: 10,
        center: { lat: latitude, lng: longitude }
    });

// add all coordinates in the array to the map as markers.
coordinates.forEach(function(pair) {
    var marker = new H.map.Marker({ lat: pair[0], lng: pair[1] });
    map.addObject(marker);
});


// the following commented-out code is just for reference.
/* var marker = new H.map.Marker({ lat: latitude, lng: longitude });
map.addObject(marker); */
        
</script>


</body>
</html>
